/* all */
.clear{
	clear: both;
}
.wrap{
	width: 95%;
	max-width:960px;
	margin: 0 auto;
}
h1{
	float:left;
	margin:0;
}
h3{
	font-family: '微軟正黑體',sans-serif;
}
#logo{
	background-image:url('../img/logo_site.png');
    background-size: 94px 50px;	
	display:block;
	height: 50px;
	width: 94px;
}
/* Title */
.title{
	background-size: 240px 100px;
	background-position: 0px;
	font-size: 0;
	display: block;
	width: 240px;
	height: 100px;
	margin: 60px auto;
}
#about-title{
	background-image: url('../img/about.png');
}
#skills-title{
	background-image: url('../img/skills.png');
}
#portfolio-title{
	background-image: url('../img/portfolio.png');
}
/* Main Menu */
#main-menu{
	background-color:rgba(22, 72, 93, 0.9);
	height: 50px;
	z-index:10000;
}
#menu{
	float:right;
}
#menu li{
	float:left;
	font-size:20px;
	margin: 15px 20px;
	cursor:pointer;
}
.fixed{
	position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0px 133px;
    background-color: rgba(224, 224, 224, 1);
}
.fixed .wrap{
	width:100%;
	position: relative;
}
/* highlights */
.kv-section{
	position:relative;
	height:540px;
	background-color:#000;
	background-size:cover;
	text-align: center;
	font-size:30px;
	margin-top: 50px;
	color:#FEFEFE;
	line-height:540px;
	overflow:hidden;
}
#video-mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(84, 84, 84, 0.3);
}
#video{
	object-fit: cover;
    width: 100%;
    background-size:cover;
    overflow:hidden;
}
#slogan{
	position: absolute;
    top: 14%;
    right: 0;
    width: 622px;
    height: 322px;
    font-size: 0;
    background: url('../img/slogan.png');
    background-size: 857px 399px;
    background-position: -117px 0px;
    z-index: 2;
}
#scroll-down{
	position: absolute;
    bottom: 15px;
    background: url('../img/scroll_down.png');
    width: 82px;
    height: 111px;
    left: 50%;
    margin: 0 0 0 -55px;
    z-index: 2;
}
/* about */
.abouts{
	margin:80px 0;
	opacity:0;
}
.abouts p{
	line-height: 34px;
}
.profile p{
	color:#16485D;
	width: 100%;
	font-size:30px;
	margin: 0 auto;
}
.top-pic,
.bottom-pic{
	position: absolute;
	width:200px;
	height: 200px;
}
.top-pic{
	top: 65px;
}
.bottom-pic{
	bottom: 49px;
}
.profile-pic img,
.top-pic img,
.bottom-pic img{
	width:200px;
	height: 200px;
	border-radius:100px;
}
.profile-pic-fixed{
	position:fixed;
	top: 184px;
    left: 148px;
    z-index: 5;
}
.path-block{
	height: 350px;
	position:relative;
}
.description{
	margin: 10px 0;
}
/* skills */
.skill-item{
	/* width:168px; */
	text-align: center;
	margin: 18px 0;
	position:relative;
	float:left;
}
.skills h3{
	border-bottom: 4px solid #333333;
	transition:color 1.2s;
}
.skill-item h4{
	margin: 26px 0;
	text-align:center;
}
.skill-item p{
	text-align: left;
}
.skill-item img{
	margin:14px 34px;
	opacity:0.7;
	transition:opacity .5s cubic-bezier(0.175, 0.885, 0.320, 1.675);
}
.skill-item:hover img{
	opacity:0.9;
}
.skill-item:before{
	content: 'circle';
    display: block;
    font-size: 0;
    width: 110px;
    height: 110px;
    left: 50%;
    top: 9px;
    margin: 0 0 0 -55px;
    position: absolute;
    border: 5px #103646 solid;
    border-radius: 55px;
    opacity:0;
    z-index:10;
    transition: transform .5s cubic-bezier(0.175, 0.885, 0.320, 1.675),opacity .5s cubic-bezier(0.175, 0.885, 0.320, 1.675);
}
.skill-item:hover:before{
	opacity:1;
	transform: scale(1.25);
}
.skills h3{
	padding: 20px 0px;
	transition:color .4s;
}
.skills:hover h3{
	color:#16A2DD;
}
.skills:hover h3{
	border-bottom: 4px solid #16A2DD;
}
/* portfolio */
.portfolio-section{
	min-height:620px;
}
.back-mask{
	background-image:url('../img/website_design_imac.png');
	width: 465px;
	height: 400px;
	background-size: 465px 400px;
    position: absolute;
    z-index: 2;
}
.mask{
	background-image: url('../img/website_design_imac_shadow.png');
    width: 465px;
    height: 400px;
    background-size: 465px;
    background-position: 116px -92px;
    opacity: 0.15;
    position: absolute;
    z-index: 3;
}
.outter{
    overflow: hidden;
    width: 425px;
    margin: 20px auto;
}
.slide-block{
	height: 400px;
}
.slide{
	position:relative;
	height:250px;
	min-width: 400px;
}
.slides{
	width:100%;
	height:100%;
	position:absolute;
	overflow: hidden;
}
.slides-description{
	display:none;
	height: 328px;
}
.slides-description p{
	line-height: 30px;
	margin: 25px 0;
}
.slides-description h3{
	font-size: 26px;
	color: #103646;
	font-weight: bold;
	text-align: center;
}
.portfolio-link{
	color: #fff;
	background: #73919E;
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.portfolio-link:hover{
	color: #fff;
	text-decoration: none;
}
.portfolio{
	position: relative;
	overflow:hidden;
	height: 200px;
	padding: 10px;
}
.portfolio .inner{
	position: relative;
	height: 180px;
	text-align: center;
    line-height: 160px;
}
.portfolio .inner.cet{
	background-color: #80A95A;
}
.portfolio span{
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	padding: 10px;
	left: -120%;
	top: 0;
	color: #fff;
}
.portfolio img{
	width: auto;
	height: 50px;
	vertical-align: middle;
}
.prev-block,
.next-block{
	position: relative;
	height: 400px;
}
.prev,.next{
	display:block;
	font-size:0;
	width: 64px;
	height: 120px;
	background-size: 64px;
	cursor:pointer;
}
.prev{
	float: left;
	background-image:url('../img/arrow_left.png');
}
.next{
	float: right;
	background-image:url('../img/arrow_right.png');
}
.prev-block .prev,
.next-block .next{
	position: absolute;
	top: 50%;
	margin-top: -60px;
}
.control-bar{
	display: none;
	height: 104px;
}
/*contact*/
.contact{
	background: #4c4c4c;
}
.contact-block{
	margin:20px 0px;
}
.contact p{
	border-top:2px solid #fff;
	color: #fff;
}
.contact h4{
	font-size: 12px;
	color:#fff;
	border:0px;
	padding: 20px;
	margin: 0;
	text-align: center;
}
.click-contact{
	cursor:pointer;
	font-size: 0;
	width: 128px;
	height: 55px;
	background-image: url('../img/contact_me.png');
	background-size: 128px 55px;
	background-position: 0px -2px;
	float: right;
}
.contact-circle{
	position:absolute;
	right:0;
	top: -50px;
	width: 200px;
	height: 50px;
	background-color:rgba(22, 72, 93, 0);
	transition:top .2s ease-in-out;
}
.launch.contact-circle{
	top:0;
}
.contact-icon{
	display: block;
    font-size: 0px;
    width: 50px;
    height: 50px;
    background-size: 50px;
   	transition:transform .4s ease-in-out;
}
.contact-icon:hover{
	transform:rotate(90deg);
}
#icon-block{
	height: 50px;
	overflow:hidden;
}
#facebook{
	background-image: url(../img/icon/facebook_circle_color.png);
}
#linkedin{
	background-image: url(../img/icon/linkedin_circle_color.png);
}
#github{
	background-image: url(../img/icon/github_circle_color.png);
}
#mail{
	background-position: 2px 0px;
	background-image: url(../img/icon/email_icon_tm.png);
}
.icon-overlay{
	color:#fff;
	position:absolute;
	left: 49px;
    top: 15px;
    opacity:0.0;
}
.icon-container{
	position:relative;
	float:left;
}
@media (max-width: 768px) {
	.path-block,
	.mask,
	.back-mask,
	.click-contact,
	.prev-block,
	.next-block,
	#scroll-down{
		display: none!important;
	}
	.control-bar{
		display: block;
	}
	.outter{
		width: 100%;
	}
	.slide-block{
		height: 100%;
	}
	.slide{
		min-width: 0;
	}
	#main-menu{
		padding: 0;
	}
	.contact-circle{
		top:0;
	}
	.kv-section{
		height: 100%;
		line-height: 30px;
	}
	#slogan{
    	top: 50%;
    	right: none;
    	left:  50%;
    	width: 60%;
    	height: 40%;
    	background: url('../img/slogan.png');
    	background-size: cover;
    	transform: translate(-50%, -50%);
	}
}
@media (min-width: 769px) and (max-width: 991px) {
	.path-block,
	.click-contact,
	.prev-block,
	.next-block,
	#scroll-down{
		display: none!important;
	}
	.control-bar{
		display: block;
	}
	.back-mask,
	.mask{
		top: 50%;
	    left: 50%;
	    margin: -200px 0 0 -232px;
	}
	#main-menu{
		padding: 0;
	}
	.contact-circle{
		top:0;
	}
	.kv-section{
		height: 100%;
		line-height: 30px;
	}
	#slogan{
    	top: 50%;
    	left: 50%;
    	right: none;
    	width: 60%;
    	height: 40%;
    	background: url('../img/slogan.png');
    	background-size: cover;
    	transform: translate(-50%, -50%);
	}
}
@media (min-width: 992px) and (max-width: 1200px) {

}
@media (min-width: 1201px) {

}